# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.vscode/

#test file
train
show.ipynb
test.zip
sample_submission.csv
.ipynb_checkpoints/
data/train.csv
train.csv
